In [7]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [3]:
db = pd.read_csv("House_Rent_Dataset.csv")
db.drop(labels=["Posted On", "Floor", "Tenant Preferred", "Point of Contact"], axis=1, inplace=True)
db.head()

,BHK,Rent,Size,Area Type,Area Locality,City,Furnishing Status,Bathroom
0,2,10000,1100,Super Area,Bandel,Kolkata,Unfurnished,2
1,2,20000,800,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,1
2,2,17000,1000,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,1
3,2,10000,800,Super Area,Dumdum Park,Kolkata,Unfurnished,1
4,2,7500,850,Carpet Area,South Dum Dum,Kolkata,Unfurnished,1

In [11]:
le = LabelEncoder()
areaType = db.get(key="Area Type")
le.fit(areaType)
le.transform(np.arange(areaType.shape[0]))

array([2, 2, 2, ..., 1, 1, 1])